In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\krkrs\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\krkrs\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: setuptools in c:\users\krkrs\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\krkrs\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\krkrs\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\krkrs\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\krkrs\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\krkrs\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\krkrs\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\krkrs\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\krkrs\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\krkrs\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\krkrs\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\krkrs\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\krkrs\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in c:\users\krkrs\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\krkrs\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from mlxtend.frequent_patterns import apriori

In [10]:
dataset = [['Drink', 'Nuts', 'Diaper'],
      ['Drink', 'Coffee', 'Diaper'],
      ['Drink', 'Diaper', 'Eggs'],
      ['Nuts', 'Eggs', 'Milk'],
      ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk'],
          ['Pepsi','Cola','Seven']]

In [11]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
TranEncod = TransactionEncoder()
te_ary = TranEncod.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=TranEncod.columns_)

In [12]:
df

   Coffee   Cola  Diaper  Drink   Eggs   Milk   Nuts  Pepsi  Seven
0   False  False    True   True  False  False   True  False  False
1    True  False    True   True  False  False  False  False  False
2   False  False    True   True   True  False  False  False  False
3   False  False   False  False   True   True   True  False  False
4    True  False    True  False   True   True   True  False  False
5   False   True   False  False  False  False  False   True   True

In [13]:
apriori(df, min_support=0.6)

    support itemsets
0  0.666667      (2)

In [14]:
apriori(df, min_support=0.6,use_colnames=True)

    support  itemsets
0  0.666667  (Diaper)

In [15]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support         itemsets  length
0  0.666667         (Diaper)       1
1  0.500000          (Drink)       1
2  0.500000           (Eggs)       1
3  0.500000           (Nuts)       1
4  0.500000  (Diaper, Drink)       2

In [16]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
          (frequent_itemsets['support'] >= 0.5) ]

   support         itemsets  length
4      0.5  (Diaper, Drink)       2

In [17]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

   support         itemsets  length
4      0.5  (Diaper, Drink)       2